body {
  /* height: 10vh; */
  width: 100%;
  background: linear-gradient(to right,
      white 0%,
      white 50%,
      black 50%,
      black 100%);
}

a .icons {
  color: black;
  /* Use the color inherited from the parent */
  text-decoration: none;
  /* Remove underline */
}

a .cv {
  color: black;
}

.main {

  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}


.contact-details {
  position: absolute;
  font-size: 60px;
  top: 45%;
  left: 2.5%;
  cursor: pointer;
}


.box {
  position: absolute;
  top: 30%;
  width: 35vw;
  height: 55vh;
  border: none;
  border-color: black;
  left: 57%;
}


.intro {
  font-size: 2.5rem;
  color: red;
  position: absolute;
  text-align: center;
  top: 10%;
}


.subBox {
  position: absolute;
  left: 15%;
  top: 50%;
  height: 45vh;
  width: 35vw;
}

.cv {
  position: absolute;
  top: 80%;
  left: 30%;
  text-align: center;
}



.heroImg {
  animation: morph 8s ease-in-out infinite;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: morph;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background-image: url(".//../assets/profile2.jpg");
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  position: absolute;
  transition: all 1s ease-in-out;
  transition-behavior: normal;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  height: 55vh;
  width: 20vw;
  bottom: 25%;
  left: 17%;
}



@keyframes morph {

  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}





@media screen and (max-width: 1100px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white
  }

  .main {
    height: 100vh;
    margin: 0 auto;
    overflow-y: visible;
    position: relative;
  }

  .contact-details {
    display: flex;
    font-size: 10vw;
    top: 6%;
    left: 0%;
    right: 0%;
    gap: 9rem;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 2.5em 2.5em;
  }


  .box {
    display: block;
    left: 10%;
    top: 100%;
    width: 85vw;
    height: 75vh;
    border: solid;
    border-color: red;
  }

  .intro {
    display: block;
    font-size: 3rem;
    color: red;
    top: 10%;
    text-align: center;
  }

  .subBox {
    display: block;
    top: 70%;
    left: 15%;
  }

  .heroImg {
    height: 40vh;
    width: 60vw;
    bottom: 65%;
  }

  .cv {
    left: 55%;
    width: 35vw;
    top: 45%;
  }

}






@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white 0%,

  }

  .main {
    height: 100vh;
    margin: 0 auto;
    overflow-y: visible;
    position: relative;
  }

  .contact-details {
    display: flex;
    font-size: 11vw;
    top: 13%;
    left: 0%;
    right: 0%;
    gap: 5rem;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 2.5em 2.5em;
  }



  .box {
    display: block;
    left: 10%;
    top: 110%;
    width: 85vw;
    height: 75vh;
    border: solid;
    border-color: red;
  }

  .intro {
    display: block;
    font-size: 1.7rem;
    color: red;
    top: 12%;
    text-align: center;
  }

  .subBox {
    display: block;
    top: 65%;
    left: 13%;
  }

  .heroImg {
    height: 40vh;
    width: 60vw;
    bottom: 60%;
    left: 17%;
  }

  .cv {
    font-size: 0.5rem;
    top: 50%;
    width: 75vw;
    left: 3%;
  }

}

.btn {
  padding: 10px 12px;
  border: 2px solid black;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}